body{
    text-align: center;
    background-color: skyblue;
}

#headerSection{
    padding: 5px;
}

#headerSection h1{
    font-family: 'Franklin Gothic Medium';

}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbutton{
    padding: 5px;
    border-radius: 5px;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}